body{
padding: 0;
margin: 0;
}
nav{
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
}

nav> .bar> h3{
    color: #EC4067;
    font-size: 30px;
}

nav> .bar> .mor> .sc{
    color: black;
}
 
nav > .tabs> ul > li{
    display: inline-block;
    padding: 10px;
  }
  
  nav > .tabs> ul > li > .button1{
    padding: 10px;
    color: white;
    background-color: #EC4067;
    padding-right: 30px;
    border-radius: 12px;
    font-size: larger;
  }

  #sectabout{
    padding-top: 150px;
    padding-left: 75px;
display:flex;
}
.ringa{
opacity: 0.8;

}

.nurt{
    color: #EC4067;
    font-size: 45px;
}

.button2{
    color: white;
    padding: 10px;
    border-radius: 12px;
    background-color: #EC4067;
    font-size: larger;
    padding-right: 30px;
}

.button3{
    color: #EC4067;
    font-size: large;
    padding: 10px;
    background-color: white;
padding-right: 50px;
padding-left: 20px;
margin-left: 30px;
}

.th{
    font-size: x-large;
    opacity: 0.7;
}

.moringa{
width: 50%;
}

.top{
    width: 50%;
    padding-left: 600px;
}

#stories{
    padding-top: 150px;
    padding-left: 75px;
    width: 50%; 
}

.sto{
    font-size: xx-large;
}
    
.so{
    font-size: medium;
    opacity: 0.6;
}

#ori{
    display: flex;
    margin-left: 75px;
    margin-top: 50px;
}

.od{
    width: 50%;
    padding-left: 100px;
    font-size: x-large;
}

.button4{
    color: white;
    padding: 10px;
    border-radius: 12px;
    background-color: #EC4067;
    font-size: larger;
    padding-right: 30px;
    font-size: x-large;
}

.ip{
    opacity: 0.7;
}

.ord{
    font-size: x-large;
}

#board{
    display: flex;
    margin-left: 75px;
    font-size: x-large;
    margin-top: 50px;
}

#board> .dol{
width: 50%;


}

.bm{
 width: 50%;

}
   
.hd{
    font-size: x-large;
}

.bm{
    padding-left: 100px;
}

.dol{
    opacity: 0.7;
}

.button5{
    color: white;
    padding: 10px;
    border-radius: 12px;
    background-color: #EC4067;
    font-size: x-large;
    padding-right: 30px;
}
 /* sect*/

#grad{
    display: flex;
    margin-left: 75px;
    margin-top: 50px;
}

.gd{
    width: 50%;
    padding-left: 100px;
    font-size: x-large;
}

.button6{
    color: white;
    padding: 10px;
    border-radius: 12px;
    background-color: #EC4067;
    font-size: larger;
    padding-right: 30px;
    font-size: x-large;
}

.tam{
    opacity: 0.7;
}

.gp{
    font-size: x-large;
}

#tpart{
    display: flex;
    margin-left: 100px;
    margin-top: 30px;
}

.mnt{
    margin-left: 75px;
    margin-top: 100px;
}

.tor{
    font-size:xx-large;
    font-weight: bold;
    opacity: 0.7;
}

.sk{
    font-size: medium;
    opacity: 0.5;
}

.web{
    color: #EC4067;
}

.button7{
    background-color: #EC4067;
    color: white;
    border-radius: 12px;
    padding: 10px;
    width: 130px;
    margin-top: 20px;
}

.oketch{
    position: absolute;
    padding-top: 120px;
    left: 120px;
    color:white;
    font-size: large;  
}

.albert{
    padding-left: 100px;
}

.byrone{
    position: absolute;
    padding-top: 120px;
    left: 440px;
    color:white;
    font-size: large;  
}

.raphael{
    padding-left: 100px;
}

.katana{
    position: absolute;
    padding-top: 120px;
    left: 760px;
    color:white;
    font-size: large;  
}

.chris{
    padding-left: 100px;
}

.karimi{
    position: absolute;
    padding-top: 120px;
    left: 1090px;
    color:white;
    font-size: large;  
}